.facial-hair-1 {
  .cls-1{fill:none;}
}

.facial-hair-2 {
  .cls-1,.cls-2{fill:none;}.cls-2{stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}

.facial-hair-3 {
  .cls-1{fill:none;}.cls-2{fill:#be1e2d;stroke-width:6px;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;}.cls-3{fill:#fff;stroke-width:8px;}
}

.facial-hair-4 {
  .cls-1,.cls-2{fill:none;}.cls-2{stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}

.facial-hair-5 {
  .cls-1,.cls-3{fill:none;}.cls-2{fill:#231f20;}.cls-2,.cls-4{stroke:#231f20;}.cls-2,.cls-3,.cls-4{stroke-miterlimit:10;stroke-width:8px;}.cls-3{stroke:#fff;}.cls-4{fill:#fff;}
}