.mouth-1 {
  .cls-1{fill:none;}.cls-2{fill:#7baea8;}.cls-3{fill:#fff;stroke:#231f20;stroke-miterlimit:10;stroke-width:6px;}
}

.mouth-2 {
  .cls-1{fill:none;}.cls-2{fill:#fff;stroke:#231f20;stroke-miterlimit:10;stroke-width:6px;}
}

.mouth-3 {
  .cls-1{fill:none;}.cls-2{fill:#fff;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;stroke-width:6px;}.cls-3{fill:#be1e2d;}
}

.mouth-4 {
  .cls-1{fill:none;}.cls-2{fill:#fff;stroke:#231f20;stroke-miterlimit:10;stroke-width:6px;}
}

.mouth-5 {
  .cls-1{fill:none;}.cls-2{fill:#fff;stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}