.cls-1{fill:none;}
.hair-2 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#fff;}
}

.hair-3 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;stroke-width:8px;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;}.cls-3{fill:#fff;stroke-width:6px;}
}

.hair-4 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;stroke-width:8px;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;}.cls-3{fill:#fff;stroke-width:6px;}
}

.hair-5 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#fff;}
}

.hair-6 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}

.hair-7 {
  .cls-1{fill:none;}.cls-2{fill:#fff;}.cls-3{fill:#231f20;}.cls-4{fill:#231f20;}.cls-5{fill:#231f20;}
}

.hair-8 {
  .cls-1{fill:none;}.cls-2{fill:#fff;}.cls-3{fill:#231f20;}.cls-4{fill:#231f20;}
}

.color-2 {
  &.hair-2 {
    .cls-2{fill:#E2D343;}
  }
  
  &.hair-3 {
    .cls-2{fill:#E2D343;}
  }
  
  &.hair-4 {
    .cls-2{fill:#E2D343;}
  }
  
  &.hair-5 {
    .cls-2{fill:#E2D343;}
  }
  
  &.hair-6 {
    .cls-2{fill:#E2D343;}
  }
  
  &.hair-7 {
    .cls-2{fill:#070707;}.cls-3{fill:#E2D343;}
  }
  
  &.hair-8 {
    .cls-2{fill:#231f20;}.cls-3{fill:#E2D343;}
  }
  
}

.color-3 {
  &.hair-3 {
    .cls-2{fill:#6F3C1F;}
  }
  &.hair-2 {
    .cls-2{fill:#6F3C1F;}
  }
  &.hair-4 {
    .cls-2{fill:#6F3C1F;}
  }
  &.hair-5 {
    .cls-2{fill:#6F3C1F;}
  }
  &.hair-6 {
    .cls-2{fill:#6F3C1F;}
  }
  &.hair-7 {
    .cls-2{fill:#070707;}.cls-3{fill:#6F3C1F;}
  }
  &.hair-8 {
    .cls-2{fill:#231f20;}.cls-3{fill:#6F3C1F;}
  }
  
}

.color-4 {
  &.hair-3 {
    .cls-2{fill:#CC3300;}
  }
  &.hair-2 {
    .cls-2{fill:#CC3300;}
  }
  &.hair-4 {
    .cls-2{fill:#CC3300;}
  }
  &.hair-5 {
    .cls-2{fill:#CC3300;}
  }
  &.hair-6 {
    .cls-2{fill:#CC3300;}
  }
  &.hair-7 {
    .cls-2{fill:#070707;}.cls-3{fill:#CC3300;}
  }
  &.hair-8 {
    .cls-2{fill:#231f20;}.cls-3{fill:#CC3300;}
  }
  
}

.color-5 {
  &.hair-3 {
    .cls-2{fill:#CFCFCF;}
  }
  &.hair-2 {
    .cls-2{fill:#CFCFCF;}
  }
  &.hair-4 {
    .cls-2{fill:#CFCFCF;}
  }
  &.hair-5 {
    .cls-2{fill:#CFCFCF;}
  }
  &.hair-6 {
    .cls-2{fill:#CFCFCF;}
  }
  &.hair-7 {
    .cls-2{fill:#070707;}.cls-3{fill:#CFCFCF;}
  }
  &.hair-8 {
    .cls-2{fill:#231f20;}.cls-3{fill:#CFCFCF;}
  }
  
}

.color-6 {
  &.hair-3 {
    .cls-2{fill:#007bd3;}
  }
  &.hair-2 {
    .cls-2{fill:#007bd3;}
  }
  &.hair-4 {
    .cls-2{fill:#007bd3;}
  }
  &.hair-5 {
    .cls-2{fill:#007bd3;}
  }
  &.hair-6 {
    .cls-2{fill:#007bd3;}
  }
  &.hair-7 {
    .cls-2{fill:#070707;}.cls-3{fill:#007bd3;}
  }
  &.hair-8 {
    .cls-2{fill:#231f20;}.cls-3{fill:#007bd3;}
  }
}

.color-7 {
  &.hair-3 {
    .cls-2{fill:#00d16f;}
  }
  &.hair-2 {
    .cls-2{fill:#00d16f;}
  }
  &.hair-4 {
    .cls-2{fill:#00d16f;}
  }
  &.hair-5 {
    .cls-2{fill:#00d16f;}
  }
  &.hair-6 {
    .cls-2{fill:#00d16f;}
  }
  &.hair-7 {
    .cls-2{fill:#070707;}.cls-3{fill:#00d16f;}
  }
  &.hair-8 {
    .cls-2{fill:#231f20;}.cls-3{fill:#00d16f;}
  }
}

.color-8 {
  &.hair-3 {
    .cls-2{fill:#E83691;}
  }
  &.hair-2 {
    .cls-2{fill:#E83691;}
  }
  &.hair-4 {
    .cls-2{fill:#E83691;}
  }
  &.hair-5 {
    .cls-2{fill:#E83691;}
  }
  &.hair-6 {
    .cls-2{fill:#E83691;}
  }
  &.hair-7 {
    .cls-2{fill:#070707;}.cls-3{fill:#E83691;}
  }
  &.hair-8 {
    .cls-2{fill:#231f20;}.cls-3{fill:#E83691;}
  }
}