.cls-1{fill:none;}
.hair-2 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#fff;}
}

.hair-3 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;stroke-width:8px;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;}.cls-3{fill:#fff;stroke-width:6px;}
}

.hair-4 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;stroke-width:8px;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;}.cls-3{fill:#fff;stroke-width:2px;}
}

.hair-5 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#fff;}
}

.hair-6 {
  .cls-1{fill:none;}.cls-2{fill:#010101;}
}

.hair-7 {
  .cls-1{fill:none;}.cls-2{fill:#0e0e0c;}.cls-3{fill:#e1d344;}.cls-4{fill:#fff;}
}

.hair-8 {
  .cls-1{fill:none;}.cls-2{fill:#070707;}.cls-3{fill:#6f3b1f;}
}