<div class="container" (click)="overlay = true" #lauro>
  <div class="aspect-ratio-container">
    <div class="content-container" id="contianer">
      <app-lauro class="lauro"></app-lauro>
      <div class="logo" [class.fadeOut]="overlay" [class.done]="done">
        <img src="assets/logo.png" alt="#SomosTodosLauro" />
        <p #text>Toque em qualquer lugar pra começar</p>
      </div>
      <div class="overlay" [class.fadeIn]="overlay">
        <app-audio class="music" [file]="music"></app-audio>
        <div class="arrows">
          <button (click)="previous()"><img src="assets/icons/arrow-left.svg" alt="Previous" /></button>
          <button (click)="next()"><img src="assets/icons/arrow-right.svg" alt="Next" /></button>
        </div>
        <div class="options">
          <button (click)="select('hair')"><img src="assets/icons/hair.svg" alt="Change hair" /></button>
          <button (click)="select('eyes')"><img src="assets/icons/eyes.svg" alt="Change eyes" /></button>
          <button (click)="select('nose')"><img src="assets/icons/nose.svg" alt="Change nose" /></button>
          <button (click)="select('mouth')"><img src="assets/icons/mouth.svg" alt="Change mouth" /></button>
          <button (click)="select('facial-hair')"><img src="assets/icons/facial-hair.svg" alt="Change facial hair" /></button>
          <button (click)="select('clothes')"><img src="assets/icons/clothes.svg" alt="Change clothes" /></button>
          <button (click)="select('background')"><img src="assets/icons/background.svg" alt="Change background" /></button>
          <button (click)="share($event)"><img src="assets/icons/share.svg" alt="Share" /></button>
        </div>
      </div>
    </div>
  </div>
</div>