.nose-1 {
  .cls-1,.cls-3{fill:none;}.cls-2{fill:#fff;}.cls-3{stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}

.nose-2 {
  .cls-1{fill:none;}.cls-2{fill:#fff;stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}

.nose-3 {
  .cls-1{fill:none;}.cls-2{fill:#fff;stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}

.nose-4 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#fff;}
}

.nose-5 {
  .cls-1{fill:none;}.cls-2{fill:#ed1c24;stroke:#231f20;}.cls-2,.cls-3{stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#fff;stroke:#fff;}
}

.nose-6 {
  .cls-1{fill:none;}.cls-2{fill:#010101;}
}

.nose-7 {
  .cls-1{fill:none;}.cls-2{fill:#fff;}.cls-3{fill:#010101;}
}

.nose-8 {
  .cls-1{fill:none;}.cls-2{fill:#fff;}.cls-3{fill:#010101;}
}

