.eyes-1 {
  .cls-1,.cls-4{fill:none;}.cls-2{fill:#7baea8;}.cls-2,.cls-3,.cls-4{stroke:#231f20;stroke-miterlimit:10;}.cls-2,.cls-3{stroke-width:8px;}.cls-3{fill:#fffefe;}.cls-4{stroke-width:6px;}
}

.eyes-2 {
  .cls-1,.cls-4{fill:none;}.cls-2{fill:#bcbec0;}.cls-2,.cls-3{stroke:#231f20;stroke-width:8px;}.cls-2,.cls-3,.cls-4{stroke-miterlimit:10;}.cls-3{fill:#231f20;}.cls-4{stroke:#fff;stroke-width:6px;}
}

.eyes-3 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#fffefe;}
}

.eyes-4 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}

.eyes-5 {
  .cls-1{fill:none;}.cls-2{fill:#231f20;stroke:#231f20;}.cls-2,.cls-3{stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#fff;stroke:#fff;}
}

.eyes-6 {
  .cls-1{fill:none;}.cls-2{fill:#010101;}
}

.eyes-7 {
  .cls-1{fill:none;}.cls-2{fill:#010101;}
}

.eyes-8 {
  .cls-1{fill:none;}.cls-2{fill:#010101;}.cls-3{fill:#231f20;stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}