.clothes-1 {
  .cls-1{fill:none;}.cls-2{fill:#ffc50c;stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}

.clothes-2 {
  .cls-1{fill:none;}.cls-2{fill:#ffc50c;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#ed1c24;}
}

.clothes-3 {
  .cls-1{fill:none;}.cls-2{fill:#ffc50c;stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}
}

.clothes-4 {
  .cls-1{fill:none;}.cls-2{fill:#ffc50c;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#231f20;}
}

.clothes-5 {
  .cls-1{fill:none;}.cls-2{fill:#fefbdf;}.cls-2,.cls-3{stroke:#231f20;stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#ffc50c;}
}